// COLORS
$white : #fff;
$black : #000;
$black-dark: #050E1F; 
$blue: #3172EB;
$blue-dark:#0A2378;
$gray:#eee;
$blue-light:#e9ecf3;
$gray-light: #D8E1EB;
$gray-light-2:#f2f6f9;
$danger:#D15A52;
$blue-fade:#7fb0da;
$success:#26c281;
$info:#f3c200;

$transparent-white : rgba(255, 255, 255, 0.2);