.dashboard {
  

 &__cards {
   @include flexWarp;
    
 }

 &__card-item {
     flex-basis:40%;
     max-width: 50%;
    min-height: 45rem;
     flex-grow:1;
     background:$white;
     flex-grow: 1;
 }
}

