.manage-inventory {
  margin: 2.5rem 0 0 0 !important;
  &__toolbar {
    display: flex;
    gap: 1.5rem;

    align-items: center;
  }

  &__trash {
    color: $blue-fade;
    cursor: pointer;
  }

  &__add-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    .button {
      color: #fff;
      width: 22rem;
    }
  }
}
