.user-login-container {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../../images/background3.jpg) !important;
  backdrop-filter: brightness(12);
  background-size: cover;
  background-position: 0 0;
}
