.secured-container { 
   
    background:$gray-light-2;
    min-height: 100vh;
    &__main-content {
        margin:2rem 0 0 0;
        display:flex;
    }


    &__menu {
        flex-basis: 20%;
        background:$white;
       padding:3rem 0 4rem 0;
        border-radius: .7rem;
        margin:0 1rem;
       
        min-width: 30rem;
        max-width: 35rem;
    }

    &__menu-item {
        display:flex;
        align-items: center;
        justify-content: flex-start;
        padding:1rem;
        gap: 1rem;
       
        margin:0 0 0 0;
        border-left:3px solid $blue-light;
        cursor: pointer;
       transition: .7s;
        position: relative;

        i {
            font-size:2.3rem;
            color:$blue-fade;
            width:3rem;
        }
      
     
        & .fa-calendar-alt {
           margin-left:.4rem
        }

        & .fa-arrow-circle-down {
            font-size:1.7rem;
           transition:.5s;
           margin-left: auto;;
          
           transform-origin: center center;
           
        }

    }

    &__menu-item:hover, &__selected  {
        background: $blue-light;
        border-left:3px solid $blue-dark;

       
       
        
 
    }

    &__submenu {
        margin:.6rem 0 1rem 3rem;
       opacity: 0;
       transition: all 1s;
       transform:scale(0)
    }

    &__submenu-item {
       padding:.8rem;
       text-align: left;
       cursor:pointer;;
       transition: .65s;
       border-radius:5px;
       margin-right: 1rem;
    }
    &__submenu-item:hover, &__submenu-item-selected {
       
            background: rgba($gray-light, .4) ;
    }
    &__submenu-item-selected {
        opacity: 1;
            background:$gray-light ;
    }
}


.private-route-container{
     flex-grow: 2;
     margin-right: 1rem;;
     border-radius: .5rem;
     padding:2rem;
      li {
         padding:1rem;
        
     }

     & ul li:hover {
         background : $gray-light;
     }
}